.single-row {
  display: flex;
  align-items: center;
}

.single-p {
  padding: 15px;
  margin-left: 20px;
  margin-right: 15px;
}

#img-lots {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#img-lots img {
  width: 200px;
}

#single-article-h2 {
  margin-left: 35px;
  color: #534438;
}

#gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

#album-button-x {
  position: absolute;
  float: right;
  right: 120px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  top: 60px;
  background-color: black;
  color: white;
  z-index: 20;
}
