#navbar {
  background-color: #505b62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-top: 0px;
  height: 2.4em;
  margin-top: 0px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 5px;
}

#navbar-img {
  max-width: 50px;
  max-height: 30px;
}
