#footer {
  background-color: #fbe1bb;
  color: #696969;
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 2.2em;
}

#footer-p {
  margin-left: 40px;
}
