#footer {
  background-color: #dcdcdc;
  color: #696969;
  /* display: flex; */
  display: none;
  align-items: center;
  height: 2.2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2.2em;
}

#footer-p {
  margin-left: 40px;
}
