.row {
  display: flex;
  justify-content: space-evenly;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 20%;
}
.article-card-home {
  padding: 18px;
  border: 1px solid black;
  width: 30%;
}

.article-link {
  color: green;
}
