.row {
  display: flex;
  justify-content: space-evenly;
  padding-left: 252px;
  padding-right: 252px;
  margin-bottom: 20%;
}
.article-card-home {
  padding: 18px;
  border: 1.8px solid #785237;
  border-radius: 4px;
  margin: 10px;
  width: 30%;
}

.article-link {
  color: #534438;
}

.home-articles-card {
  display: flex;
  justify-content: flex-start;
}

/* .news-img {
  width: 100px;
} */
