#article-card-news {
  border: 1.8px solid #785237;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

.news-img {
  width: 200px;
  height: 200px;
  padding: 10px 20px 15px 10px;
}

#article-card-news {
  display: flex;
}
