#about-tabs-list {
  border-bottom: 1px solid #534438;
  margin-top: 1px;
}

#about-tabs {
  border: 2px solid #411f16;
  border-radius: 6px;
  width: 1300px;
}

.tabs-p {
  padding: 0px 10px 10px 10px;
}

.tabs-link {
  color: #534438;
  font-weight: bold;
  text-decoration: none;
}

#tabs-div {
  display: flex;
  align-self: center;
}
/* .tabs-link hover {
  color: #fbe1bb;
} */

#tab-panel {
  display: flex;
  justify-content: space-evenly;
}

#tabs-img {
  padding: 18px 10px 20px 18px;
  width: 200px;
  height: 230px;
}

#tabs-img-dune {
  width: 200px;
  height: 200px;
  padding: 18px 10px 20px 18px;
}

#contacts-all {
  display: flex;
  align-items: flex-start;
  width: 1300px;
}

#contacts-left {
  display: flex;
}

#contacts-right {
  display: flex;
}

.contacts-el-right {
  padding: 10px;
  margin-left: 30px;
}

.contacts-el-left {
  padding: 10px;
  margin-left: 10px;
}

.contacts-right-p {
  margin-top: 0px;
}

.contacts-h3 {
  margin-top: 20px 30px 10px 10px;
}
